/* src/componentes/layout/AuthLayout/style.css */
.split-screen-layout {
  display: flex;
  min-height: 100vh;
  /* A MUDANÇA PRINCIPAL: A tela inteira agora tem o fundo verde */
  background-color: var(--primary-green); 
}

.split-screen-layout__left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.large-logo {
  max-width: 500px; 
  width: 100%;
  height: auto;

}

.split-screen-layout__right {
  width: 50%;
  /* O fundo cinza foi REMOVIDO daqui */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}