/* src/assets/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-green: #00bf63;
  --light-gray: #F7F7F7;
  --text-dark: #121212;
  --text-gray: #6c757d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--primary-green);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}